<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- google maps api -->
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static "style.css" %}" type="text/css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% static 'typeahead.bundle.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Cafe Yab</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href='{% url 'cafe:index' %}'>Home</a></li>
        </ul>


        <form id="search-form" class="navbar-form navbar-left" method="post" action="{% url 'cafe:search' %}">
            <div class="form-group">
                <input type="text" class="typeahead tt-query" placeholder="Search" id="search-input" name="q"
                       autocomplete="off" spellcheck="false"/>
            </div>
            <input type="submit" class="btn btn-default" value="submit"/>
        </form>


        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li>
                    <a href="/account/edit_profile/"><span
                            class="glyphicon glyphicon-user"></span>Edit Profile</a>
                </li>
                <li><a href="/account/profile/{{ request.user.username }}/"><span
                        class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="/account/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            {% else %}
                <li><a href="/account/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/account/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>

    </div>
</nav>
<p>{{ user.first_name }}</p>
</body>
</html>